.layout {
    min-height: 100vh;
  }

  .logo {
    margin: 16px;
  }

  nz-header {
    background: #fff;
    padding: 0;
  }

  nz-content {
    margin: 24px 16px 0;
  }

  .inner-content {
    padding: 24px;
    background: #fff;
    min-height: 360px;
  }

  nz-footer {
    text-align: center;
  }
  .ant-layout{
      background: #fff;
  }
  .ant-layout-sider{
    background: #2C2B29;
    
      font-family: "Dax-Regular" !important;
    
  }
  .ant-menu.ant-menu-dark{
    background: #2C2B29;
  }
  .menuItem{
    color: #C99D4A;
  }
  .ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background: none !important;
  }
  .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background: none !important;
  }
  .menuItem{
    color: #C99D4A !important;
  }
  a{
    color: #C99D4A;
    text-decoration: none;
  }
  .ant-menu-dark .ant-menu-item, .ant-menu-dark .ant-menu-item-group-title, .ant-menu-dark .ant-menu-item > a, .ant-menu-dark .ant-menu-item > span > a{
    color: #C99D4A!important;
  }
  .MothlyInvoiceTitle{
    font-weight: 400 !important;
    font-size: 30px;
    line-height: 20px;
    letter-spacing: -0.02em;
    
    color: #2C2B29;
  }
  .editable-cell {
    position: relative;
    padding: 5px 12px;
    cursor: pointer;
  }

  .editable-row:hover .editable-cell {
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    padding: 4px 11px;
  }
  th{
    background: #2C2B29!important;
    color: #fff !important;
  }
  ::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #2C2B29; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #2C2B29; 
  }
  .scrollableTable{
    overflow-y: scroll;
      height: 400px;
      padding: 3px;
  }
  .inner-content{
    font-family: "Dax-Regular" !important;
  }
  .pr{
    padding-right: 6%;
  }
.saveButton{
  background: #C99D4A;
border: 3px solid #C99D4A;
box-sizing: border-box;
border-radius: 7px;
width: 30%;
    font-size: larger;
    padding-bottom: 10%;
    padding-top: 0px;
}
.printButton{
  background: #C99D4A;
border: 3px solid #C99D4A;
box-sizing: border-box;
border-radius: 7px;
width: 38%;
    font-size: medium;
    padding-top: 2px;
}
/* .check {
  -webkit-appearance: none; /*hides the default checkbox*/
  /* height: 20px;
  width: 20px;
  position: relative;
  top: 20px;
  left: 20px;
  transition: 0.10s;
  background-color: #FE0006;
  text-align: center;
  font-weight: 600;
  color: white;
  border-radius: 3px;
  outline: none;
} */

/* .check:checked {
  background-color: #0E9700;
}

.check:before {
  content: "✖";
}
.check:checked:before {
  content: "✔";
} */ 

@media print {
  .notPrintable {
    display: none;
  }
  .notPrintable {
    color: red;
  }
}