<nz-layout class="layout">
    <nz-sider nzCollapsible nzBreakpoint="lg" [nzCollapsedWidth]="0">
        <div class="logo pt-2"><img src="/assets/innerLogoGolden.png" width="250" /></div>
        <div class="text-center py-3"><a routerLink="/monthly-invoice">MONTHLY INVOICE</a></div>
        <div class="text-center"><a routerLink="/supplier">SUPPLIERS LIST</a></div>
    </nz-sider>
    <nz-layout>
        <nz-content>
            <div class="inner-content">
                <div class="row">
                    <div class="col-md-3 MothlyInvoiceTitle">
                        Monthly Invoice
                    </div>
                    <div class="col-md-2" style="text-align: right;">
                        Choose Month
                    </div>
                    <div class="col-md-3">
                        <nz-date-picker nzMode="month" [nzFormat]="'MM/yyyy'" [(ngModel)]="month"
                            (ngModelChange)="onChange($event)">
                        </nz-date-picker>
                    </div>
                    <div class="col-md-4" *ngIf="invoiceRef">
                        <div class="w-100" style="text-align:right">
                            <button class="printButton" nz-button nzType="primary" (click)="printPage()">PRINT REPORT</button>
                        </div>
                    </div>
                </div>
                <div class="row pt-2" *ngIf="month">
                    <div class="col-md-3">
                        Date
                        <nz-date-picker [(ngModel)]="date" [nzFormat]="'dd/MM/yyyy'"></nz-date-picker>
                    </div>
                    <div class="col-md-9" style="text-align: left;">
                        Invoice Reference
                        <input nz-input style="width: 200px;" [(ngModel)]="invoiceRef" />
                    </div>
                </div>
                <div class="row pt-2" *ngIf="date">
                    <div class="scrollableTable">
                        <nz-table [nzScroll]="{ x: '2000px', y: '400px' }" #editRowTable [nzData]="listOfData"
                            (nzCurrentPageDataChange)="onCurrentPageDataChange($event)">
                            <thead>
                                <tr>
                                    <th [nzIndeterminate]="indeterminate" [(nzChecked)]="checked" nzLeft
                                        (nzCheckedChange)="onAllChecked($event)"></th>
                                    <th nzLeft>Supplier Name</th>
                                    <th>Hair Services</th>
                                    <th>Beauty Services</th>
                                    <th>
                                        <div class="editable-cell" [hidden]="editId === 'c1'" (click)="startEdit('c1')">
                                            {{Custom1}}
                                        </div>
                                        <input [hidden]="editId !== 'c1'" type="text" nz-input [(ngModel)]="Custom1"
                                            (blur)="stopEdit()" />
                                    </th>
                                    <th>
                                        <div class="editable-cell" [hidden]="editId === 2" (click)="startEdit(2)">
                                            {{Custom2}}
                                        </div>
                                        <input [hidden]="editId !== 2" type="text" nz-input [(ngModel)]="Custom2"
                                            (blur)="stopEdit()" />
                                    </th>
                                    <th>
                                        <div class="editable-cell" [hidden]="editId === 3" (click)="startEdit(3)">
                                            {{Custom3}}
                                        </div>
                                        <input [hidden]="editId !== 3" type="text" nz-input [(ngModel)]="Custom3"
                                            (blur)="stopEdit()" />
                                    </th>
                                    <th>
                                        <div class="editable-cell" [hidden]="editId === 4" (click)="startEdit(4)">
                                            {{Custom4}}
                                        </div>
                                        <input [hidden]="editId !== 4" type="text" nz-input [(ngModel)]="Custom4"
                                            (blur)="stopEdit()" />
                                    </th>
                                    <th>
                                        <div class="editable-cell" [hidden]="editId === 5" (click)="startEdit(5)">
                                            {{Custom5}}
                                        </div>
                                        <input [hidden]="editId !== 5" type="text" nz-input [(ngModel)]="Custom5"
                                            (blur)="stopEdit()" />
                                    </th>
                                    <th>Net</th>
                                    <th>VAT</th>
                                    <th>GROSS</th>
                                    <th>Advanced Paid</th>
                                    <th>Balance Due</th>
                                    <th nzRight>Approved</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of listOfData" class="editable-row">
                                    <td nzLeft [nzChecked]="setOfCheckedId.has(data.SupplierId)"
                                        (nzCheckedChange)="onItemChecked(data.MonthlyInvoiceId, $event)"></td>
                                    <td nzLeft>
                                        {{ data.SupplierName}}
                                    </td>
                                    <td>
                                        <div class="editable-cell" [hidden]="editId === data.SupplierId"
                                            (click)="startEdit(data.SupplierId)">
                                            {{ data.HairService || 0 }}
                                        </div>
                                        <input [hidden]="editId !== data.SupplierId" type="text" nz-input
                                            [(ngModel)]="data.HairService" (blur)="stopEdit()" />
                                    </td>
                                    <td>
                                        <div class="editable-cell" [hidden]="editId === data.SupplierId"
                                            (click)="startEdit(data.SupplierId)">
                                            {{ data.BeautyService || 0 }}
                                        </div>
                                        <input [hidden]="editId !== data.SupplierId" type="text" nz-input
                                            [(ngModel)]="data.BeautyService" (blur)="stopEdit()" />
                                    </td>
                                    <td>
                                        <div class="editable-cell" [hidden]="editId === data.SupplierId"
                                            (click)="startEdit(data.SupplierId)">
                                            {{ data.Custom1 || 0 }}
                                        </div>
                                        <input [hidden]="editId !== data.SupplierId" type="text" nz-input
                                            [(ngModel)]="data.Custom1" (blur)="stopEdit()" />
                                    </td>
                                    <td>
                                        <div class="editable-cell" [hidden]="editId === data.SupplierId"
                                            (click)="startEdit(data.SupplierId)">
                                            {{ data.Custom2 || 0}}
                                        </div>
                                        <input [hidden]="editId !== data.SupplierId" type="text" nz-input
                                            [(ngModel)]="data.Custom2" (blur)="stopEdit()" />
                                    </td>
                                    <td>
                                        <div class="editable-cell" [hidden]="editId === data.SupplierId"
                                            (click)="startEdit(data.SupplierId)">
                                            {{ data.Custom3 || 0}}
                                        </div>
                                        <input [hidden]="editId !== data.SupplierId" type="text" nz-input
                                            [(ngModel)]="data.Custom3" (blur)="stopEdit()" />
                                    </td>
                                    <td>
                                        <div class="editable-cell" [hidden]="editId === data.SupplierId"
                                            (click)="startEdit(data.SupplierId)">
                                            {{ data.Custom4 || 0}}
                                        </div>
                                        <input [hidden]="editId !== data.SupplierId" type="text" nz-input
                                            [(ngModel)]="data.Custom4" (blur)="stopEdit()" />
                                    </td>
                                    <td>
                                        <div class="editable-cell" [hidden]="editId === data.SupplierId"
                                            (click)="startEdit(data.SupplierId)">
                                            {{ data.Custom5 || 0}}
                                        </div>
                                        <input [hidden]="editId !== data.SupplierId" type="text" nz-input
                                            [(ngModel)]="data.Custom5" (blur)="stopEdit()" />
                                    </td>
                                    <td>
                                        <div class="editable-cell" [hidden]="editId === data.SupplierId"
                                            (click)="startEdit(data.SupplierId)">
                                            {{ data.Net || 0}}
                                        </div>
                                        <input [hidden]="editId !== data.SupplierId" type="text" nz-input
                                            [(ngModel)]="data.Net" (blur)="stopEdit()" />
                                    </td>
                                    <td>
                                        {{""}}
                                    </td>
                                    <td>
                                        {{""}}
                                    </td>
                                    <td>
                                        <div class="editable-cell" [hidden]="editId === data.SupplierId"
                                            (click)="startEdit(data.SupplierId)">
                                            {{ data.AdvancePaid || 0 }}
                                        </div>
                                        <input [hidden]="editId !== data.SupplierId" type="text" nz-input
                                            [(ngModel)]="data.AdvancePaid" (blur)="stopEdit()" />
                                    </td>
                                    <td>
                                        {{""}}
                                    </td>
                                    <td nzRight class="text-center"><label nz-checkbox nzDisabled
                                            [ngModel]="true"></label></td>
                                </tr>
                                <!-- <tr>
                              <td colspan="2">

                              </td>
                              <td colspan="9" class="text-center editable-row">
                                  TOTAL
                              </td>
                              <td>
                                  NET
                              </td>
                              <td>
                                NET
                            </td>
                            <td>
                                NET
                            </td>
                            <td>
                                NET
                            </td>
                            <td>
                                NET
                            </td>
                          </tr> -->
                            </tbody>
                        </nz-table>
                    </div>
                </div>
                <div class="d-flex pt-4" *ngIf="date">
                    <div class="m-2">
                        <button nz-button nzType="default" (click)="approveInvoices()">
                            <i nz-icon nzType="check"></i>
                            APPROVE SELECTED INVOICES
                        </button>
                    </div>
                    <div class="m-2">
                        <button nz-button nzType="default"><i nz-icon nzType="download"></i>COMBINE AND DOWNLOAD
                            SELECTED INVOICES</button>
                    </div>
                    <div class="m-2">
                        <button nz-button nzType="default"><i nz-icon nzType="mail"></i>EMAIL SELECTED INVOICES</button>
                    </div>
                    <div class="m-2 w-100" style="text-align:right">
                        <button class="saveButton" (click)="addInvoiceDataToDB()" nz-button nzType="primary">SAVE</button>
                    </div>
                </div>
            </div>
        </nz-content>
        <!-- <nz-footer>Ant Design ©2020 Implement By Angular</nz-footer> -->
    </nz-layout>
</nz-layout>