.layout {
    min-height: 100vh;
  }

  .logo {
    margin: 16px;
  }

  nz-header {
    background: #fff;
    padding: 0;
  }

  nz-content {
    margin: 24px 16px 0;
  }

  .inner-content {
    padding: 24px;
    background: #fff;
    min-height: 360px;
  }

  nz-footer {
    text-align: center;
  }
  .ant-layout{
      background: #fff;
  }
  .ant-layout-sider{
    background: #2C2B29;
  }
  .ant-menu.ant-menu-dark{
    background: #2C2B29;
  }
  .menuItem{
    color: #C99D4A;
  }
  body{
    font-family: 'Dax';
  }
  .addButton{
    background-color: #C99D4A;
    border: 3px solid #C99D4A;
box-sizing: border-box;
border-radius: 7px;

  }
  .ant-input-affix-wrapper{
    color: #C4C4C4;
  }
  /* .searchBox{
      
    background: #FFFFFF;
    border: 0.7px solid #C4C4C4;
    box-sizing: border-box;
    box-shadow: 1px 0px 4px 1px rgba(196, 196, 196, 0.3);
    border-radius: 7px;
  } */

  .supplierTitle{
    font-weight: 400;
    font-size: 30px;
    line-height: 47px;
    letter-spacing: -0.02em;
    
    color: #2C2B29;
  }
  .ant-table{
      padding: 0px!important;
  }
  .ant-btn .anticon.anticon-plus > svg{
      margin-bottom: 5px !important;
  }
  th{
    background-color: #2C2B29 !important;
    color: #fff!important;
  }
  .pr{
    padding-right: 6%;
  }
  .scrollableModal{
    overflow-y: scroll;
    height: 400px;
  }
  .scrollableModal::-webkit-scrollbar, .scrollable::-webkit-scrollbar-thumb:hover {
    background: #C99D4A;
    width: 3px;
}
.darkButtonModal{
  background-color:  #2C2B29;
  color: #fff;
  border-radius: 5px;
}
.cancelButtonModal{
  background: rgba(207, 211, 216, 0.6);
  color: rgba(0, 0, 0, 0.25);
  border:none;
  border-radius: 5px;
}
.leftTd{
  border-radius: 2px !important;
}