<nz-layout class="layout">
  <nz-sider nzCollapsible nzBreakpoint="lg" [nzCollapsedWidth]="0">
    <div class="logo pt-2"><img src="/assets/innerLogoGolden.png" width="250" /></div>
    <div class="text-center py-3"><a routerLink="/monthly-invoice">MONTHLY INVOICE</a></div>
    <div class="text-center"><a routerLink="/supplier">SUPPLIERS LIST</a></div>
  </nz-sider>
  <nz-layout>
    <nz-content>
      <div class="inner-content">
        <div class="row p-2">
          <div class="col-md-5 supplierTitle">
            Suppliers List
          </div>
          <div class="col-md-5">
            <nz-form-control nzErrorTip="Please input your username!">
              <nz-input-group nzPrefixIcon="search">
                <input [(ngModel)]="searchText" (keyup)="searchSupplier()" nz-input placeholder="Search here..." />
              </nz-input-group>
            </nz-form-control>
          </div>
          <div class="col-md-2">
            <button nz-button class="addButton" (click)="showModalTop(null)" nzType="primary">
              <fa-icon [icon]="faPlus" style="padding-right:5%"></fa-icon>
              ADD SUPPLIER
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <!-- <div class="scrollableTable"> -->
              <nz-table class="table text-center" #apiSuppliersDataTable [nzData]="apiSuppliersData" [nzSize]="'small'" [nzPageSize]="100" [nzOuterBordered]="true" [nzLoading]="loading">
                <thead>
                  <tr>
                    <th style="border-radius: 6px 0px 0px 0px;" scope="col" [nzSortFn]="sortRefFn">Supplier Reference
                    </th>
                    <th scope="col" [nzSortFn]="sortNameFn">Supplier Name</th>
                    <th scope="col" class="text-center">Status</th>
                    <th style="border-radius: 0px 6px 0px 0px;" class="text-center" scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of apiSuppliersDataTable.data">
                    <td scope="row">{{data.SupplierReference}}</td>
                    <td>{{data.SupplierName}}</td>
                    <td class="text-center">
                      <nz-switch [(ngModel)]="data.IsActive" (ngModelChange)="changeStatus(data)">
                      </nz-switch>
                    </td>
                    <td class="text-center">
                      <img src="/assets/edit.png" class="p-2" (click)="showModalTop(data)">
                      <img src="/assets/delete.png" (click)="onDeleteSupplier(data)">
                    </td>
                  </tr>
                </tbody>
              </nz-table>
            </div>
          </div>
        </div>
        <nz-modal [nzMaskClosable]="false" [(nzVisible)]="isVisibleTop" nzTitle="Add New Supplier"
          (nzOnCancel)="handleCancelTop()" (nzOnOk)="handleOkTop()" [nzStyle]="{ top: '30px'}" [nzFooter]="modalFooter"
          [nzWidth]="600">
          <ng-container *nzModalContent nzBodyStyle="height:500">
            <form nz-form [formGroup]="validateForm">
              <div class="scrollableModal">
                <div nz-row>
                  <div nz-col nzSpan="12" class="pr">
                    <nz-form-item>
                      <nz-form-control nzValidatingTip="Validating..." [nzErrorTip]="supplierNameError">
                        <label>Supplier Name</label><br>
                        <input nz-input formControlName="supplierName" />
                        <ng-template #supplierNameError let-control>
                          <ng-container *ngIf="control.hasError('required')">Enter Supplier Name</ng-container>
                          <ng-container *ngIf="control.hasError('pattern')">Supplier name must consist only alphabtes!
                          </ng-container>
                        </ng-template>
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                  <div nz-col nzSpan="12">
                    <nz-form-item>
                      <nz-form-control [nzErrorTip]="supplierReferenceError">
                        <label>Supplier Reference</label><br>
                        <input nz-input formControlName="supplierReference" />
                        <ng-template #supplierReferenceError let-control>
                          <ng-container *ngIf="control.hasError('required')">Enter Supplier Reference</ng-container>
                          <ng-container *ngIf="control.hasError('pattern')">Supplier Reference must consist maximum 15
                            letters!
                          </ng-container>
                        </ng-template>
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                </div>
                <div nz-row>
                  <div nz-col nzSpan="24">
                    <nz-form-item>
                      <nz-form-control [nzErrorTip]="businessAddressError">
                        <label>Business Address</label>
                        <textarea formControlName="businessAddress" nz-input rows="3"></textarea>
                        <ng-template #businessAddressError let-control>
                          <ng-container *ngIf="control.hasError('required')">Enter Business Address</ng-container>
                          <ng-container *ngIf="control.hasError('pattern')">Business Address must consist at least 3 and
                            maximum 150 letters!</ng-container>
                        </ng-template>
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                </div>
                <div nz-row>
                  <div nz-col nzSpan="12" class="pr">
                    <nz-form-item>
                      <nz-form-control nzValidatingTip="Validating..." [nzErrorTip]="emailAddressError">
                        <label>Email Address</label>
                        <input nz-input formControlName="emailAddress" name="fname" />
                        <ng-template #emailAddressError let-control>
                          <ng-container *ngIf="control.hasError('required')">Enter Email Address</ng-container>
                          <ng-container *ngIf="control.hasError('email')">Enter valid email address!
                          </ng-container>
                        </ng-template>
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                  <div nz-col nzSpan="12">
                    <nz-form-item>
                      <nz-form-control [nzErrorTip]="phoneNumberError">
                        <label>Phone Number</label>
                        <input nz-input formControlName="phoneNumber" name="fname" />
                        <ng-template #phoneNumberError let-control>
                          <ng-container *ngIf="control.hasError('pattern')">
                            Enter valid phone number!
                          </ng-container>
                        </ng-template>
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                </div>
                <div nz-row>
                  <div nz-col nzSpan="12" class="pr">
                    <nz-form-item>
                      <nz-form-control nzValidatingTip="Validating..." [nzErrorTip]="companyRegisteredNumberError">
                        <label>Company Registered Number</label>
                        <input nz-input formControlName="companyRegisteredNumber" name="fname" />
                        <ng-template #companyRegisteredNumberError let-control>
                          <ng-container *ngIf="control.hasError('pattern')">Number must consist only numbers with the
                            limit of 15!
                          </ng-container>
                        </ng-template>
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                  <div nz-col nzSpan="12">
                    <nz-form-item>
                      <nz-form-control [nzErrorTip]="VATNumberError">
                        <label>VAT Number</label>
                        <input nz-input formControlName="VATNumber" name="fname" />
                        <ng-template #VATNumberError let-control>
                          <ng-container *ngIf="control.hasError('pattern')">Number must consist only numbers with the
                            limit of 15!</ng-container>
                        </ng-template>
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                </div>
                <div nz-row>
                  <div nz-col nzSpan="24">
                    <nz-form-item>
                      <nz-form-control [nzErrorTip]="taxReferenceError">
                        <label>Tax Reference</label>
                        <input formControlName="taxReference" nz-input />
                        <ng-template #taxReferenceError let-control>
                          <ng-container *ngIf="control.hasError('pattern')">Reference must consist maximum 15 letters
                          </ng-container>
                        </ng-template>
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                </div>
                <div nz-row>
                  <div nz-col nzSpan="24">
                    <nz-form-item>
                      <nz-form-control [nzErrorTip]="companyRegisteredAddressError">
                        <label>Company Registered Address</label>
                        <textarea formControlName="companyRegisteredAddress" nz-input rows="3"></textarea>
                        <ng-template #companyRegisteredAddressError let-control>
                          <ng-container *ngIf="control.hasError('pattern')">Address must consist at least 3 and
                            maximum 100 letters</ng-container>
                        </ng-template>
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                </div>
                <div nz-row>
                  <div nz-col nzSpan="12" class="pr">
                    <nz-form-item>
                      <nz-form-control nzValidatingTip="Validating...">
                        <label>Upload Invoice Logo</label>
                        <div class="clearfix">
                          <input nz-input type="file" accept="image/png,image/jpeg" #fileUpload
                            (change)="UploadLogo($event)" hidden/>
                          <button nz-button nzType="default" (click)="fileUpload.click()">
                            <i nz-icon nzType="upload"></i>
                            Upload
                          </button>
                        </div>
                        <div *ngIf="uploadedSupplierLogo!= null">
                          
                          <img [src]="uploadedSupplierLogo" height="200" width="200">
                          <div style="float: right;">
                          <i nz-icon nzType="close" nzTheme="outline" (click)="removeLogo()"></i>
                          </div>
                        </div>
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                  <div nz-col nzSpan="12">
                    <nz-form-item>
                      <label>Is Active ?</label>
                      <div class="p-2"></div>
                      <nz-form-control>
                        <nz-switch formControlName="activeSupplier"></nz-switch>
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                </div>
              </div>
            </form>
          </ng-container>
        </nz-modal>
      <!-- </div> -->
    </nz-content>
    <ng-template #modalFooter>
      <button nz-button class="darkButtonModal" nzType="default" (click)="handleOkTop()">Save</button>
      <button nz-button nzType="primary" (click)="handleCancelTop()" class="cancelButtonModal">Cancel</button>
    </ng-template>
  </nz-layout>
</nz-layout>